backend/myenv/
backend/venv/
backend/__pycache__/
backend/*/__pycache__/
backend/static/
backend/*/static/
backend/imagenes_filtradas
backend/*.pt
backend/*.pt
backend/utils/*.json
backend/utils/*.xlsx
